* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    background-color: hotpink;
}
.heading {
    margin-top: 0px;
    text-align: center;
    font-family: 'Comic Neue';
    font-size: 80px;
}

.heading2 {
    text-align: center;
    font-family: 'Comic Neue';
    font-size: 40px;
}

#Header {
    margin-top: 0px;
    padding-top: 120px;
    width: 100%;
    height: 100vh;

}

.paragraph {
    text-align: center;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: 'Comic Neue';
    font-size: 24px;
}

#canvasContainer {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: auto;
    display: inline-block;
    /* max-width: 1200px; */
}

#canvasContainer canvas {
    width: 100% !important;
    height: 100% !important
}

.wrapper {
    width: 90%;
    margin: auto;
}

#button1 {
    display: inline-block;
    font-family: 'Comic Neue';
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    top: 70%;
    transform: translateY(-50%);
}

#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}

.linkBox {
    text-align: center;
    font-family: 'Comic Neue';
}

.images {
    border-color: black;
    border-style: dashed;
    width: 400px;
    height: 267px;
}

.imageGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.imageBox {
    padding: 10px;
    text-align: center;
}

#myselection {
    position: absolute;
    font-family: 'Comic Neue';
    display: inline-block;
    margin-left: 76%;
    margin-top: 33%;
}

.myDiv {
    display: none;
    position: absolute;
    border-style: dashed;
    border-color: hotpink;
    margin-left: 67%;
    margin-top: 10%;
}

.myDiv img {
    display: inline-block;
}

#results {
    position: relative;
    width: 100%;
    height: 100vh;
}

.myDiv2 {
    position: absolute;
    left: 37%;
}

#resultLink {
    visibility: hidden;
    height: 20vh;
    left: 50%;
}

#selectBox {
    display: inline-block;
}

.rotate {
    animation: rotation 8.5s 0s linear;
}

.rotate2 {
    animation: rotation 8.5s 0s reverse;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

.resultP {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
}

a:link {
    color: black;
}

a:visited {
    color: gold;
}

a:hover {
    color: cyan;
}

a:active {
    color: black;
}

.cyan {
    color: cyan;
}
.cyan2{
    background-color: cyan;
}

.yellow {
    color: gold;
}
.yellow2{
    background-color: gold;
}

.navy {
    color: navy;
}

.white {
    color: white;
}
.hotpink{
    background-color: hotpink;
}
.lightpink{
    background-color: lightpink;
}
.red{
    background-color: red;
}
.red2{
    color: red;
}
.black{
    background-color: black;
}
.gray{
    background-color: gray;
}
.CapyPic{
    display: inline-block;
    border-color: hotpink;
    border-style: dashed;
    position: absolute;
    width: 400px;
    transition: all 0.5s ease;
    left: 5%;
    top: 25%;
}
.clickResult{
    color: white;
}
.navy2{
    background-color: navy;
}
.green{
    color: green;
}
.loveColor{
    background-color: #D01760;
}
.dogColor{
    background-color: #720fff;
}
.purple{
    color: purple;
}
.CCP{
    margin-bottom: 10px;
    font-size: 40px;
}